h1{
	background: #2A88AD;
	padding: 20px 30px 15px 30px;
	margin: -30px -30px 30px -30px;
	border-radius: 10px 10px 0 0;
	color: #fff;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
	font: normal 30px 'Bitter', serif;
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	border: 1px solid #257C9E;
}
body{
    
        width:960px;
        padding:30px;
        margin:40px auto;
        background: #FFF;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);

}
.radiobuttons{
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
	font: normal 16px 'Bitter', serif;
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	color: #2A88AD;
}
.box{
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
	font: normal 16px 'Bitter', serif;
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	color: #2A88AD;
}
label{
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
	font: normal 20px 'Bitter', serif;
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	color: #2A88AD;
}
.section{
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
	padding:20px 30px 15px 30px;
	margin: 20px;
	border-radius: 10px;
	background: #F8F8F8;
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
}
section{
	padding: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
	width: 100%;
	display: block;
	box-sizing: border-box;
	border-radius: 6px;
	box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.33);
	padding: 8px;
	border: 2px solid #fff;
	font: 13px Helvetica, Arial, sans-serif
}
input[type="submit"],
input[type="reset"] {
	background: #2A88AD;
	padding: 8px 20px 8px 20px;
	border-radius: 6px;
	color: #fff;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
	font: normal 20px 'Bitter', serif;
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	border: 1px solid #257C9E;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
	background: #2A6881;
}
